24jkClient/Service References/Client24jk/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UploadPicToDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fNameExt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fNameSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPicToDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>